


<!-- <ion-header> -->

  <ion-toolbar>
    <ion-title class="title">Invite Friends</ion-title>
  </ion-toolbar>

<!-- </ion-header> -->

<div input-field class="animated fadeInDown input-box" lines="none">
  <ion-item class="login_form_item" lines="none" color="grey">
    <ion-img class="search_icon" src="/assets/search.svg" ></ion-img>
    <ion-input class="keywords_for_event_search" #keyword type="text" placeholder="Search" color="darkGrey"></ion-input>
  </ion-item>
</div>


<ion-content>

  <ion-item (click)="open_friend_profile()">
    <ion-thumbnail slot="start">
      <img class="profile" src="/assets/kotori.jpg">
    </ion-thumbnail>
    <ion-label class="friend_name">
      Minami Kotori
    </ion-label>
  </ion-item>








</ion-content>


