<ion-content no-padding no-bounce>
    <div class="logo">
    </div>


    <div class="welcome">
      Verify your email
    </div>
    
    <div class="welcome_message">
      Please enter the 6-digit code we sent to your e-mail (Maybe in your spam folder).
    </div>

    <div input-field class="animated fadeInDown input-box">
      <ion-item no-padding class="login_form_item">
        <ion-input class="user_info" #code type="number" placeholder="Verification Code"></ion-input>
      </ion-item>
    </div>

    <div class="bt">
        <ion-button color="favorite" class="login_button" (click)="register(code.value)">Verify your e-mail</ion-button>
    </div>

  
  </ion-content>
  
  
  
  
  