


<!-- <ion-header> -->
<ion-toolbar>
  <ion-title class="title">My Account</ion-title>
</ion-toolbar>


<ion-thumbnail class="profile">
  <img class="profile_img" src="/assets/kotori.jpg">
</ion-thumbnail>


<ion-content>

  <ion-item (click)="open()" lines="none">
    <ion-thumbnail slot="start" class="icon">
      <img src="/assets/activities.svg">
    </ion-thumbnail>
    <ion-label class="friend_name">
      Activities
    </ion-label>
  </ion-item>

  <ion-item (click)="open()" lines="none">
    <ion-thumbnail slot="start" class="icon">
      <img src="/assets/profile.svg">
    </ion-thumbnail>
    <ion-label class="friend_name">
      Profile
    </ion-label>
  </ion-item>


  <ion-item (click)="open()" lines="none">
    <ion-thumbnail slot="start" class="icon">
      <img src="/assets/history.svg">
    </ion-thumbnail>
    <ion-label class="friend_name">
      History
    </ion-label>
  </ion-item>

  
  <ion-item (click)="open()" lines="none">
    <ion-thumbnail slot="start" class="icon">
      <img src="/assets/settings.svg">
    </ion-thumbnail>
    <ion-label class="friend_name">
      Settings
    </ion-label>
  </ion-item>

  
  <ion-item (click)="open()" lines="none">
    <ion-thumbnail slot="start" class="icon">
      <img src="/assets/help.svg">
    </ion-thumbnail>
    <ion-label class="friend_name">
      Help
    </ion-label>
  </ion-item>

  





</ion-content>


